* {
  box-sizing: border-box;
}
body {
}
.list-group{
  display: grid;

  list-style: none;
  padding: 0%;
  justify-items: center;
}

.list-group-item {
  border: 0;
  justify-items: center;
 width: 700px;
}

.btn{
  border: 0;
  width: 100%;
  text-align: center;
  padding: 2%;
  background: #943131;
}


